!!! 5
html
    head
        title مستودع خطوط الويب العربية
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
        script
            function font_url(name) {
                return encodeURI(location.protocol + '//' + location.host + "/css?" + name);
            }
            function font_link_code(name) {
                return '<link rel="stylesheet" type="text/css" href="' + font_url(name) + '" />';
            }
            function select_font(name, btn) {
                // button management!!
                $(".selected_button").removeClass("selected_button");
                $(btn).addClass("selected_button");
                // set code, style, etc
                $(".linkcode").text(font_link_code(name));
                $(".fontname_placeholder").text(name)
                $("textarea#sample").css("font-family", name);
            }
        - each name in fontnames
            link(rel="stylesheet", type="text/css", href="/css?" + name)
    body
        div#code.linkcode
        table: tr
            td
                div#selector
                    | Select Font:
                    - each name in fontnames
                        div(class: "button", onclick="select_font('" + name + "', this)")
                            table(width="100%"): tr
                                td
                                    =name
                                td(dir="rtl")
                                    div.preview(style="font-family:" + name) ابجد هوز
            td
                textarea#sample 
                  الخط العربي على الانترنت
                  تستطيع تحرير هذا النص
                div#explain
                    | لاستخدام الخط في موقعك، قم بادخال الكود اعلاه الى موقعك و استخدم الخط باسم
                    br
                    span.fontname_placeholder
                    br
                    | مثلا:
                    pre: code
                        span.linkcode
                        |  
                        | &lt;div style="font-family: <span class="fontname_placeholder"></span>">
                        |    الخط العربي
                        | &lt;/div>




        style
           tr, td { vertical-align: top; }
           code, pre { direction: ltr; text-align: left; }
           div#selector { direction: ltr; text-align: left; width: 300px; }
           div#selector .button { 
               margin: 8px; padding: 10px; 
               width: 200px; 
               border: 1px solid silver; border-radius: 10px;
               cursor: pointer;  
           }
           div#selector .selected_button { 
               background-color: hsl(150, 40%, 93%);
               color: hsl(44, 80%, 10%);
               }
           div.preview { text-align: right; line-height: 15px; }
           textarea#sample { 
               width: 600px; height: 200px; padding: 15px; border-style: none;
               font-size: 2em; text-align: center; direction: rtl; 
               overflow: hidden;
           }
           div#explain {
               direction: rtl;
               font-family: KacstBook;
               text-align: center;
           }
           div#code {
                margin: 5px 2%;
                padding: 10px 4%;
                color: hsl(120, 70%, 25%);
                font: normal 15px monospace;
                border: 1px solid silver;
                background-color: hsl(100, 40%, 95%);
           }
           footer { 
                position: absolute; bottom: 20px; 
                color: hsl(90, 20%, 44%);
                font: normal 10px monospace;
           }
           footer a {
                color: hsl(190, 20%, 44%);
           }
        script
            $(document).ready(function(){
                $($("div#selector .button").get(0)).click();
                });
        footer 
           | by 
           a(href="https://github.com/hasenj") hasen
           |  | 
           a(href="https://github.com/hasenj/arabic-web-fonts") code on github
           div This service is in the alpha stage, don't use it in production just yet!

